.chord-card {
  width: 350px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #a1a1a1;
  transition: height 300ms;
  &.chord-card__editing {
    height: 220px;
  }
  .chord-name {
    height: 24px;
    line-height: 24px;
    padding: 10px 0;
    box-sizing: content-box;
  }
  .chord-name-field {
    text-align: center;
    font-size: 1.17em;
  }
  .chord-box {
    display: flex;
    justify-content: center;
  }
  .chord-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .chord-btn {
      flex-grow: 1;
      flex-shrink: 0;
      margin: 10px 30px 0;
      height: 30px;
      border-radius: 4px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      .chord-btn-icon {
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
      }
      &.chord-btn-del {
        background: #e04545;
        color: #FFFFFF;
      }
      &.chord-btn-modify {
        border: 1px solid #333;
        box-sizing: border-box;
      }
      &.chord-btn-cancel {
        border: 1px solid #333;
        box-sizing: border-box;
      }
      &.chord-btn-confirm {
        background: #42b983;
        color: #FFFFFF;
      }
    }
  }
  .chord-create-title {
    margin-top: 20px;
  }
  &.chord-card__create {
    height: 270px;
    //.chord-create-btn {
    //  width: 80%;
    //  margin: 10px auto 0;
    //  height: 30px;
    //  border-radius: 4px;
    //  text-align: center;
    //  line-height: 30px;
    //  background: #42b983;
    //  color: #FFFFFF;
    //}
  }
}
