.home {
  width: 100%;
  /*padding: 10px;*/
  /*box-sizing: border-box;*/
}
.chord-card-area {
  //margin-top: 100px;
}
.chord-cardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .chord-card {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 20px auto 0;
  }
}
.chord-create-box {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .chord-card {}
}
.chord-tab-show {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #42b983;
  color: #ffffff;
  .chord-tab-show-icon {
    line-height: 50px;
  }
}
